
@font-face {
    font-family: 'hanken_groteskbold';
    src: url('./fonts/hankengrotesk-bold-webfont.woff2') format('woff2'),
         url('./fonts/hankengrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hanken_groteskmedium';
    src: url('./fonts/hankengrotesk-medium-webfont.woff2') format('woff2'),
         url('./fonts/hankengrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hanken_groteskregular';
    src: url('fonts/hankengrotesk-regular-webfont.woff2') format('woff2'),
         url('fonts/hankengrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h3{
	font-size: 23px;
}


h4{
	font-size: 25px;
}

p {
		font-size: 15px;
}

html{
	margin:0px;
	padding: 0px;
	color: #333;
	box-sizing: border-box;

}

body{
	margin: 0px;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	font-family: hanken_groteskmedium;
}

.navbar {
	padding: 7px 5%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 2px 5px rgb(0,0,0,0.2);
	z-index: 2;
}

.navbar .menu{
display: none;}



.company_logo {
	width: 147px;
	height: auto;
}



.mobile_menu{
	background-color: #1976D2;
	padding: 7px 5%;
	font-family: 'hanken_groteskmedium';
	
}

.mobile_menu ul{
	list-style: none; 
	display: flex;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
	color: white; 

}

.mobile_menu li{
border-right: 1px solid white;
width: 33.3%;
}

.mobile_menu li a{
text-decoration: none;
color: white;
}



.mobile_menu li p{
	display: flex;
	justify-content: center;
	margin:5px auto;
	font-size: 14px;
}

 .mobile_menu li:nth-child(3){
	border-right:0px;
}

.section {
	padding: 7px 5%;
}


.section .heading h4{
 color: #1976D2;

}

.cover {
	background-color: #fafafa;
	background-position: bottom;
	background-repeat: no-repeat;
}

.cover .text-sec {
		padding: 5px 5%;
}

.cover .text-sec h2{
	line-height: 1.2;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 28px;
	color: #1976D2;
}


.cover .text-sec p{
		margin-top: 10px;
}
.cover .img_cont {
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover .img_cont img{
		width: 100%;		
}

.cover .text-sec p{
	line-height: 1.4;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 16px;
}

.cover .text-sec button{
	display: none;
}


.course_overview .head1 {
	font-size: 25px;
	text-align: center;
}

.course_overview .section_body{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.course_overview .section_body .testimonial_video iframe{
	width: 100%;
}

.course_overview .section_body .overview_points {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px auto;
	align-content: center;
	}

.course_overview .section_body .overview_points .overview_point {
	width: 30%;
	border: 1px solid rgb(0,0,0,0.2);
	padding: 10px 15px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.course_overview .section_body .overview_points .overview_point img{
	width: 40px;
	height: 40px;
	margin-top: 16px;
}


.course_overview .section_body .overview_points .overview_point p{
	font-size: 16px;
	text-align: center;
}


.certificate .heading h4{
	padding: 1px 5%;
}

.certificate img{
	width: 100%;
}


.certificate .certi_body P{
	padding: 3px 5%;
}

.about_author {
background-color: blue;
  background-image: linear-gradient(to right, #0D3B69, #1976D2 );
  color: white;
}

.about_author_head .heading h4{
	color: white;
}

.about_author_body img {
	min-width: 250px;
	height: auto;
}

.about_author_head .heading img{
		width: 125px;
		height: auto;
}
.name {
	font-family: hanken_groteskbold;
	margin-bottom: 7px;
	font-size: 25px;
}

.name p {
	margin-top: 7px;
}


.author_desc .desc_sec h4{
		margin-top:25px;
		margin-bottom: 7px; 
		font-size: 15px;
		text-decoration: underline;
}
.author_desc .desc_sec p{
	font-family: hanken_groteskregular;
	font-size: 14px;
	margin-top: 7px;
}

.author_desc .desc_sec_skill ul{
	list-style:none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
}


.author_desc .desc_sec_skill li{
	margin-right: 20px;
	border: 1px solid white;
	padding: 7px 10px;
	border-radius: 200px;
	margin-bottom: 10px;
	font-size: 13px;
}

.course_detail {
	margin-bottom: 30px;
}

.course_detail_body_head {
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: -6%;
	margin-right :-6%;
	padding:10px 6% ;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fef1e7;
	padding-right:  -6%;
	padding-left:  -6%;

}


.course_detail_body_head h2{
	margin-bottom: 10px;
	margin-top: 10px;

	
}


.course_detail_body_head{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	}


	.course_detail_body_head .button button{
		border: none;
		background-color: #01ab53;
		padding: 7px 15px;
		color: white;
		border-radius: 5px;
		font-family: hanken_groteskmedium;
		cursor: pointer;
		font-size: 18px;
	}

.course_detail .head_anchor_button {
margin: auto -7%;
background-color: #f48024;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: -30px;
}


.course_detail .head_anchor_button ul{
	list-style: none; 
	display: flex;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
	color: white; 

}

.course_detail .head_anchor_button ul a{
	text-decoration: none;
	}

.course_detail .head_anchor_button ul a{
width: 33.3%;
border-right: 1px solid whitesmoke;
}


.course_detail .head_anchor_button ul a:nth-child(3){
border-right: none;
}

.course_detail .head_anchor_button li p{
	display: flex;
	justify-content: center;
	margin:5px auto;
	font-size: 16px;
	color: white;
}




.course_detail_body_detail {
	background-color: #f2f2f2;
	padding: 5px 14px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.course_detail_body_detail h3 {
	font-size: 20px;	
	margin: 10px ;

}


.course_detail_body_detail ul{
	padding-left: 35px;
}
.course_detail_body_detail ul li{
  list-style-image: url(./images/green-tick.svg);
  font-size: 17px;
  margin-bottom: 5px;
}


.course_detail_body_detail ul li p{
margin-top: 5px;
 margin-bottom: 7px;
 margin-left: 5px;
 color: #707070;
}

.course_detail_body_head {
	margin-bottom: 30PX;

}


.course_detail_body_head p{
	margin:0 auto 0 0;

}


.course_detail_body_head h2{
	color: #333;
	font-family: hanken_groteskbold;
}


.course_detail_body .course_detail_body_body > p{
	visibility: hidden;
	display: none;
}


.course_detail_body .course_detail_body_body .course_detail_body_content{
	visibility: hidden;
	display: none;
}



button.accordion {
  width: 100%;
  border: 1px solid whitesmoke;
  outline: none;
  background-color: white;
  text-align: left;
  padding: 15px 20px;
  font-size: 15px;
  font-family: hanken_groteskbold;
  color: #333;
  cursor: pointer;
    margin-bottom:  -2px;
  transition: background-color 0.2s linear, content 0.2s ease-in-out	;
}

button.accordion:after {
  content: url(./images/down.svg);
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: url(./images/up.svg);
}

button.accordion:hover, button.accordion.is-open {
}

.accordion-content {
  background-color: #f6f6f6;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
    border: 1px solid whitesmoke;
  transition: max-height 0.2s ease-in-out;
  margin-top: -1px;
}

.faq {
	background-color: #fafafa;
	padding-bottom: 30px;
}



.takeaways_body {

}

.left_takeaways {
display: flex;
align-content: center;
justify-content: center;
margin-bottom: 30px ;
}

.right_takeaways {
display: flex;
align-content: center;
justify-content: center;
margin-bottom: 30px ;
flex-direction: row-reverse;
}

.img_container {
	 background-image: linear-gradient(to right, #0D3B69, #E22248); 
	 padding: 15px 10px;
	 border-radius: 7px;
	 box-shadow: 0px 3px 6px rgb(0,0,0,0.4);
	 z-index: 1;
	 width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.img_container img{
	width: 35px;
	height: 45px;
}


.takeaway .takeaways_body .right_takeaways .img_container img{
	width: auto;
	height: 40px;
}


.text {
	padding: -10px 20px;
	border: 1px solid whitesmoke;
	background-color: white;
	box-shadow: 0px 3px 6px rgb(0,0,0,0.1);
	flex-grow: 1;
	display: flex;
	align-items: center;
	border-radius: 15px;
	margin-left: -7px;
	padding-left: 30px;
}

.text p{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom:  10px ;
	margin-right: 20px; 
}

.schedule {
	border: 1px solid rgb(0,0,0,0.3);
	padding-left: 15px;
	border-radius: 7px;
	padding-bottom: 10px;
	padding-right: 15px;
}

.day {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(0,0,0,0.15);
}

.day p{
	color: #707070;
	font-family: hanken_groteskbold;
		margin-top: 5px;
	margin-bottom: 5px;
}
.day h2 {
	color: #1976D2;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
}


.day:nth-child(3){
border: none;
}

.address {
	margin:auto auto;
}

.address h4{
	margin-bottom: 5px;
}

.address p{
	margin-top: 5px;
}

.map{
	width: 100%;
	height: 200px;
}

.stick_button {
    
    margin: auto auto;
}

.main_button {
	position: fixed;
    bottom: 0;
	background-color: #01ab53;
	border: none;
	width: 100%;
	margin:auto auto;
	color: white;
	font-family: hanken_groteskmedium;
	font-size: 23px;
	padding: 20px 15px;
	z-index: 5;
}


.a2a_kit_size_32 {
	display: flex;
	justify-content: space-between;
}

.upcoming_body{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.upcoming_body .batch{
	border: 1px solid rgb(0,0,0,0.3);
	background-color: #f6f6f6;
	padding: 15px 20px;
	width:75%;
	margin-bottom: 40px;
}



.upcoming_body .batch a button{
	border: 3px solid #01ab53;
	background-color: white;
	padding: 10px 15px;
	border-radius: 5px;
}

.footer{
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content:center;
	color: white;
	margin-bottom: 70px;
}

.share p{
	text-align: center;
}

.share .icons{
	display: flex;
	justify-content: center;
	align-items: center;
}

.share .icons img{
	margin-right: 10px;
}


.connect {
	text-align: center;

}


.connect p span img{
	width: 25px;
	height: 25px;
	
}

.connect p a{
	text-decoration: none;
	color: white;
}




.contact_us {
  background-image: linear-gradient(to right, #0D3B69, #1976D2 );
}

.contact_us .heading h4{
	text-align: center;
	color: white;
}

.contact_us p{
	font-size: 16px;
	color: white;
}

.contact_us p a{
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.contact_us p span img{
	height: 20px;
	width: auto;
}
.contact_us .contact_us_body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.terms p{
	color: #707070;
}


.section_button a{ 
		margin: 20px auto;
		text-decoration: none;
		display: flex;
			justify-content: center;
			align-items: center;
}

.section_button a button{ 
		width: 40%;
		border: none;
		background-color: #01ab53;
		padding: 10px 15px;
		color: white;
		border-radius: 5px;
		font-family: hanken_groteskmedium;
		cursor: pointer;
		display: inline;
		text-decoration: none;
		font-size: 20px;
		text-decoration: none;

}


.certificate{
	padding: 10px 10%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.certificate .left {
	background-color:#f6f6f6;
	padding: 30px 40px;
	z-index: 1;
}
.certificate .left h4{
	margin: 10px auto;
	font-size: 25px;
}

.certificate .left p{
	line-height: 1.8em;
}

.certifcate .right{

}


.course_overview .section_body .testimonial_video {
	width: 100%;
	min-height: 250px;
}


@media screen and (min-width: 650px) {

.footer{
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	color: white;
	margin-bottom: 70px;
}

.share .icons{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.share .icons img{
	margin-right: 10px;
}


.connect {
	text-align: right;

}


.connect p span img{
	width: 25px;
	height: 25px;
	
}

.connect p a{
	text-decoration: none;
	color: white;
}



.section.location .countdown_location .countdown .card {
	padding: 10px 30px;
}


.section.location .countdown_location .countdown .card p{
	margin-top: 0px;
}


.section.location .countdown_location .countdown .card .value span{
	font-size: 30px;
}

	p{
		font-size: 16px;
		line-height: 1.5;
	}

.navbar{
	padding: 20px 10%;
}

.navbar img{
	height: 60px;
	width: auto;
}

.mobile_menu{
	display:none;
}
.navbar .menu {
display: inline;
}


	

.navbar .menu ul{
	display: flex;
	list-style: none;
}


.navbar .menu ul a{
	text-decoration: none;
	color: #333;
	margin-right: 50px;
}
	.sticky_button {
		display: none;
	} 

	.section {
		padding: 30px 10%;
	}

	.heading h4{
		font-size: 25px;
		text-align: center;

	}

	.cover {
		display: flex;
		align-items: center;
		height: 80vh;
		background-image:url(./images/cover-desktop@2x.jpg);
		background-position: bottom right;
		background-size: cover;

	}


	.cover .text-sec {
		width: 40%;
}


	.cover .text-sec a button{
		width: 35%;
		border: none;
		background-color: #01ab53;
		padding: 15px 20px;
		color: white;
		border-radius: 5px;
		font-family: hanken_groteskmedium;
		cursor: pointer;
		display: inline;
		text-decoration: none;
		font-size: 20px;
	}



.section_button a{ 
		margin: 20px auto;
		text-decoration: none;
		display: flex;
			justify-content: center;
			align-items: center;
}

.section_button a button{ 
		width: 25%;
		border: none;
		background-color: #01ab53;
		padding: 15px 17px;
		color: white;
		border-radius: 5px;
		font-family: hanken_groteskmedium;
		cursor: pointer;
		display: inline;
		text-decoration: none;
		font-size: 20px;
		text-decoration: none;

}


		.cover .text-sec a {
		text-decoration: none;
	}




	.cover .text-sec h2 {
		font-size: 45px;
		color: white;
	}

	.cover .text-sec p {
		font-size: 20px;
		color: white;
	}

	.cover .img_cont {
		display: none;
		visibility: hidden;
		justify-content: center;
		align-items: center;
		width: 70%;

	}

	.cover .img_cont img{
		width: 50%;

	}

.course_overview .heading h1{
	font-size: 35px;
}


	.section_body {
		display: flex;
		flex-direction: row;

	}

.course_overview .section_body .testimonial_video {
	width: 60%;
}


.course_overview .overview_points{
	width: 80%;
	justify-content: center;
}

.course_overview .section_body  .overview_points .overview_point{
	width: 18%;
}

.course_detail {
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.course_detail .head_anchor_button {
	margin: auto;
}

.course_detail_body_head{
	margin: auto;
}

.course_detail_body .course_detail_body_body > p{
	visibility: visible;
	display: inline-block;
}


.course_detail_body .course_detail_body_body .course_detail_body_content{
	visibility: visible;
	display:inline-block;
}



.course_detail_body_body {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
	margin: 20px auto;
}

.course_detail_body .course_detail_body_body .course_detail_body_content p{
	width: 80%;
}

div.section.course_detail div.course_detail_body div.course_detail_body_body div.course_detail_body_details{
	display: flex;
	justify-content: center;
}

div.section.course_detail div.course_detail_body div.course_detail_body_body div.course_detail_body_details div.course_detail_body_detail{
	width: 40%;
}


div.section.course_detail div.course_detail_body div.course_detail_body_body div.course_detail_body_details div.course_detail_body_content
{
	width: 65%;
	margin-left: 20px;
}


div.section.course_detail div.course_detail_body div.course_detail_body_body div.course_detail_body_details div.course_detail_body_content h3{
	margin-top: 0px;
}


.a2a_default_style {
	justify-content: flex-end;
}

.a2a_default_style a{
	margin-right: 20px;
}

.faq_body{
	margin: auto 10%;
}

.faq_body button{
	height: 65px;
}


.takeaway {
	display: flex;
	flex-direction: row;
}


.takeaway .takeaways_body{
margin-right: 30px;
width: 20%;
}

.takeaway .takeaways_body .takeaways{
	width: 100%;
	display: flex;
	flex-direction: column;

}

.takeaway .takeaways_body .takeaways .img_container{
	width: 100%;
	box-sizing: border-box;
}

.takeaway .takeaways_body .takeaways .img_container img{
	width: 45px;
	height: auto;
}

.takeaway .takeaways_body .takeaways .text{
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
}


.takeaway .takeaways_body .takeaways .text p{
	text-align: center;
}


.address_heads {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.address_heads .location_body{
	width: 50%;
	margin-right: 40px;
}


.address_heads .address{
	padding: 20px 30px;
	margin-left: 10px;
	margin-top: 0px;
}
.address_heads .address h4{
	margin-top: 0px;
	text-align: left;
}

.address {
	width: 60%;
}


.map iframe{
	width: 100%;
	height: 180px;
}


.contact_us .contact_us_body{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact_us p{
	font-size: 22px;
	color: white;
}

.contact_us p span img{
	height: 20px;
	width: auto;
}


.contact_us p a{
	font-size: 22px;
	color: white;
	text-decoration: none;
}
.footer{

	margin-bottom: -70px;
}

.about_author_body {
display: flex;
align-items: flex-start;
}

.author_desc{
	margin-left: 30px;
}

.author_desc p{
	margin-top: 0px;
}

.description{
	display: flex;
}

.description .desc_sec{
	margin-right: 20px;
}

.certificate{
	padding: 10px 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.certificate .left {
	background-color:#f6f6f6;
	padding: 30px 40px;
	margin-right: -40px;
	z-index: 1;
}
.certificate .left h4{
	margin: 10px auto;
	font-size: 35px;
}

.certificate .left p{
	line-height: 1.8em;
}

.certifcate .right{

}



.upcoming_head h2{
	text-align: center;
	margin-bottom: 50px;
}

.upcoming_body{
	display: flex;
	flex-direction: row;
}

.upcoming_body .batch{
	width: 40%;
}

.upcoming_body .batch h3{
	margin-top: 10px;
}


.countdown_location {
		margin-bottom: 60px;
		margin: 10px auto;
		padding-bottom: 40px;


	}
.countdown_location p{
	font-size: 26px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.countdown_location p:nth-child(2) {
	font-size: 40px;
}

}


.countdown_location {
margin-bottom: 20px;

}

.countdown_location h2{
	font-size: 18px;

}

.countdown_location {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.countdown_location .countdown{
	display: flex;
	margin: 10px auto;
	min-width: 50%;
	justify-content:space-between;
	align-content: center;
}

.countdown_location .countdown .card{
	padding: 10px 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
}

.countdown_location .countdown .day{
	background-color: #01ab53;
}


.countdown_location .countdown .hour{
	background-color: #f48024;
}

.countdown_location .countdown .minute{
	background-color: #277fd5;
}
.countdown_location .countdown .second{
	background-color: #f6407a;
}
.countdown_location .countdown .card .name p{
	font-size: 14px;
	margin-bottom: 7px;
	color: white;
}


.countdown_location .countdown .card .value span{
	font-size: 25px;
	margin-top: 5px;
	color: white;
}

